.dropdown__container {
    position: absolute;
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius:15px;
  background-color: white;
  top: 90px;
  right: 110px;
  /* z-index: 25; */
}