.input__container {
    align-items:center;
    border-radius: 3rem;
    box-shadow:2px 2px 10px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    display: flex;
    height:65px;
    position: relative;
    width: 100%;
}


.input__icon {
    color:#000;
    font-size:1.5rem;
    left: 5px;
    margin-left: .5rem;
    position: absolute;
}

.icon__container {
    align-items: center;
    border-radius: 50%;
    border: 1px solid lightgrey;
    display:flex;
    height:45px;
    justify-content: center;
    position:absolute;
    right: 15px;
    width:45px;
}

.key__icon {
    font-size:1.5rem;
}

.input__texts {
    display:flex;
    flex-direction:column;
    left: 0px;
    letter-spacing: .5px;
    margin-left:50px;
    position:absolute;
}
.input__text1 {
    font-size:1rem;
    font-weight: 500;
    margin-bottom: 3px;
}
.input__text2 {
    color: grey;
    font-size:.9rem;
}


/* Media query */

@media screen and (min-width: 1024px) {
    .input__container {
        align-items:center;
        border-radius: 3rem;
        display: flex;
        height:65px;
        position: relative;
        width: 28rem;
    }
    
   
    .input__icon {
        color: red;
        left:382px;
        
    }
    
    .icon__container {
        right: 15px;
    }
    .key__icon {
        display:none;
    }
    
    .input__texts {
        flex-direction:row;
        letter-spacing: 0;
        margin-left:30px;
    
    }
    .input__text1 {
      display: none;
    }
    .input__text2 {
        color: #000;
        font-size:1.2rem;
    }
}