
.card {
    color:#222222;
    display:flex;
    flex-direction:column;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    margin:  10px;
    width : 23rem;

}

.card__container {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    height : 350px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 350ms;
    width : 100%;
}

.card__container:hover {
    cursor: pointer;
}

.card__image {
    height: 100%;
    object-fit: cover;
    width :100%;

}

.love__icon {
    color: #fff;
    font-size: 30px;
    position : absolute;
    right: 30px;
    top: 30px;


}

.card__footer {
display:flex;
flex-direction: column;
margin-bottom:10px;

}

.cardFooter__top {
    align-items: center;
    display:flex;
    justify-content:space-between;
    width: 100%;
}

.card__title {
    font-size:1.1rem;
  
}
.rating {
    align-items:center;
    display:flex;
}

.rating__icon {
    margin-bottom:5px;

}

.card__rating {
    font-size:1.1rem;
}

.rating__icon {
    font-size:1.1rem;
    margin-top: 10px;

}

.card__distance {
    color: gray;
    font-size:1.1rem;

}

.card__date {
    color: gray;
    font-size:1.1rem;


}

.cardPrice__text {
    font-size:1.1rem;

}

.card__price {
    font-size:1.1rem;
    font-weight:bold;
    margin-top:15px;
}

 @media screen and (min-width: 1024px) {
.card {
    width : 22rem;
}

}