.navigation {
    align-items: center;
    background-color: white;
    display:flex;
    height:100px;
    justify-content: center;
    padding:0 10px;
    position: fixed;
    width:100%;
    z-index: 1; 
}

.navigation__logo {
display: none;
cursor: pointer;
}

span {
    margin-right: 10px;
}

.navigation__link {
display:none;
cursor: pointer;

}

.nav__text {
    align-items:center;
    background-color:white;
    border-radius: 50px;
    display:flex;
    height:40px;
    justify-content:center;
    width: 150px;
    transition: all 350ms;
}

.nav__text:hover {
    background-color:lightgrey;
}



.menu__icon {
    font-size:1.6rem;
    margin-left: 10px;

}
.profile__container {
    background-color:grey;
    border-radius: 50%;
    height: 30px;
    margin-left: 20px;
    width: 30px;
}

/* Media Query */

@media screen and (min-width: 1024px) {
    .navigation {
        align-items:center;
        border-bottom:1px solid lightgrey ;
        flex-direction: row;
        justify-content:space-between;
        padding : 20px 100px;

    }

 .navigation__logo {
    display:flex;
    height:60px;
    object-fit: cover;
    width: 150px;
 }

 .navIcon__container {
    align-items: center;
    background-color:white;
    border-radius: 50%;
    display:flex;
    height:45px;
    justify-content:center;
    margin:0 10px;
    width:45px;

 }
 .navIcon__container:hover  {
   
    background-color:lightgrey;
 }

 .nav__icon {
    font-size:1.5rem;
    }

    .nav__text {
        font-size:1.2rem;
        font-weight:500;
    }

    .nav__profile {
        align-items: center;
        border-radius:70px;
        border: 1px solid lightgrey;
        display:flex;
        height:50px;
        margin-left:10px;
        width:100px;
        transition:all 350ms;
    }

    .nav__profile:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }


 .navigation__link {
    display:flex;
    align-items: center;
    }

   


 .span3 {
    color: rgba(0, 0, 0, 0.2);
 }

 span {
    margin-right: 10px;
    font-weight: 500;

 }

}