
.top__slider {
    background-color: white;
    height:120px;
    padding:0 10px;
    position: fixed;
    width: 100%;
    /* z-index: 1; */
}



@media screen and (min-width: 1024px) {
    .banner__slider {
        padding:0 100px;
    }
}