
.top__slider {
    width: 100%;
    height: 150px;
    padding:0 40px;
    position:fixed;
    z-index: 1;
    background-color: white;
}



@media screen and (min-width: 1024px) {
    .banner__slider {
        padding:0 100px;
    }
}